<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zharker.springmybatis.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zharker.springmybatis.entity.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="CHAR" />
    <result column="active" property="active" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zharker.springmybatis.entity.User" >
    insert into t_user (user_id, user_name, active
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=CHAR}, #{active,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zharker.springmybatis.entity.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="active != null" >
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=CHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zharker.springmybatis.entity.User" >
    update t_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="active != null" >
        active = #{active,jdbcType=BIT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zharker.springmybatis.entity.User" >
    update t_user
    set user_name = #{userName,jdbcType=CHAR},
      active = #{active,jdbcType=BIT}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>